<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style media="screen">
      #cv_detail{
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="investors_lb">Investors</label>
              <input type="text" class="form-control" id="investors" placeholder="Investors">
              <small class="form-text text-muted">Ex. Mark Cuban</small>
            </div>
            <div class="form-group col-md-6">
              <label for="investors_amt_lb">Investors Amount</label>
              <input type="text" class="form-control" id="investors_amt" placeholder="Investors Amount">
              <small class="form-text text-muted">Ex. $300,000</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="season_lb">Season</label>
              <select id="season" class="form-control">
                <option selected disabled>Select</option>
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="season_lb">Episode</label>
              <select id="episode" class="form-control">
                <option selected disabled>Select</option>
                <option></option>
                <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option>
                <option>7</option> <option>8</option> <option>9</option> <option>10</option> <option>11</option> <option>12</option>
                <option>13</option> <option>14</option> <option>15</option> <option>16</option> <option>17</option> <option>18</option>
                <option>19</option> <option>20</option> <option>21</option> <option>22</option> <option>23</option> <option>24</option>
                <option>25</option> <option>26</option> <option>27</option> <option>28</option> <option>29</option> <option>30</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="gender_lb">Gender</label>
            <select id="gender" class="form-control">
              <option selected disabled>Select</option>
              <option></option>
              <option>Male</option>
              <option>Female</option>
              <option>Mixed Team</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" onclick="View()">Result</button>
          <!-- <button type="button" class="btn btn-primary" onclick="ProductView()">Product</button> -->
        </form>
      </div>
    </div>
    <div class="container" id="cv_detail">
      <div class="jumbotron">
        <table class="table table_view" id="cv_table">
          <thead>
            <tr>
              <th scope="col">Season</th>
              <th scope="col">Episode</th>
              <th scope="col">Company Name</th>
              <th scope="col">Product</th>
              <th scope="col">Investors</th>
              <th scope="col">Amount</th>
              <th scope="col">Industry</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script>
  // Filtering the company
  function View(){
    var investors = $('#investors').val();
    var investors_amt = $('#investors_amt').val();
    var season = $('#season').val();
    var episode = $('#episode').val();
    var gender = $('#gender').val();

    var url = "http://127.0.0.1:8000/view/"
    var data = {'investors':investors,'investors_amt':investors_amt,'season':season,'episode':episode, 'gender':gender}
    jQuery.ajax({
          headers : {'Authorization': "Basic c3JpOmRqYW5nby1hZG1pbg==",
                    },
          url: url,
          type: 'POST',
          data: data,
          dataType: "json",
            success: function(result) {
              console.log(result);
              $('#cv_table > tbody').empty();
              $('#cv_detail').css("display","block")
              var i;
              var dum = ""
              for(i=0; i<result.company_det.length; i++){
                $('#cv_table').append("<tr><td scope='row'>"
                +result.company_det[i].showlist.season+"</td><td>"
                +result.company_det[i].showlist.episode_number+"</td><td>"
                +result.company_det[i].company_name+"</td><td>"
                +(result.company_det[i].product.length > 0 ? result.company_det[i].product[0].product_name: dum)+"</td><td>"
                +(result.company_det[i].product.length > 0 ? result.company_det[i].product[0].investors: dum)+"</td><td>"
                +result.company_det[i].amount+"</td><td>"
                +result.company_det[i].industry+"</td></tr>")
              }
          }
        });
  }
  </script>
</html>
